
      
    {% include 'header.html'%}
    
        <h1>Contacts</h1> 
        <h3>My contacts</h3>
        <p>Anyone can contact me by mailing or messaging or
        calling me on the following addresses/numbers.</p>
        <p>Ph. no.: 9863483039, 9863593864, 9841121402, 9843051078</p>
        <p>E-mail: <E-mail>prnabin123@gmail.com, nishadhungana449@gmail.com, 
            nabarajdhungana789@gmail.com, ndnarayani123@gmail.com
        </E-mail></p>
        <p>Whatsapp: 9863483039
        </p>
        <p>Viber: 9863483039
        </p>
        <p>Facebook/Messenger: Nabin Prasad Dhungana</p>
        <p>Thank you !</p>
        {% include 'footer.html' %}