<!DOCTYPE html>
<html>
    <head>
        <title>Contacts</title>
        <style>
            header{
                margin: 10px ; 
                font-size: 1.5rem;
                font: 1em sans-serif;
            }
              h1{
                padding: 10px;
            background-color: yellowgreen;
            color: white;
            text-align: center;
        }
        h2{
                color: blueviolet;
        }
        </style>
    </head>
    <body>
       <header>
        <a href="index.html">Home</a>
        <a href="static/gallery.html">Gallery</a>
        <a href="interest.html">Interests</a> 
        <a href="contacts.html"> Contacts</a> 
    </header>
        <h1>Contacts</h1> 
        <h2>My contacts</h2>
        <p>Anyone can contact me by mailing or messaging or
        calling me on the following addresses/numbers.</p>
        <p>Ph. no.: 9863483039, 9863593864, 9841121402, 9843051078</p>
        <p>E-mail: <E-mail>prnabin123@gmail.com, nishadhungana449@gmail.com, 
            nabarajdhungana789@gmail.com, ndnarayani123@gmail.com
        </E-mail></p>
        <p>Whatsapp: 9863483039
        </p>
        <p>Viber: 9863483039
        </p>
        <p>Facebook/Messenger: Nabin Prasad Dhungana</p>
        <p>Thank you !</p>
    </body>
</html>