<!DOCTYPE html>
<html>
    <head>
        <title> {{title}}</title>
        <style>
            header{
                margin: 10px ; 
                font-size: 1.5rem;
                font: 1em sans-serif;
            }
                h1{
                    padding: 10px;
                    background-color: yellowgreen;
                    color: white;
                    text-align: center;
                }   
                h3{
                    color: blueviolet;
                }      
        </style>
    </head>
    <body>
        {% comment %} <header>
            <a href="index.html">Home</a>
            <a href="static/gallery.html">Gallery</a>
            <a href="interest.html">Interests</a> 
            <a href="contacts.html"> Contacts</a> 
        </header> {% endcomment %}

        <header>
            <a href="{% url 'home_page' %}">Home</a>
            <a href="static/gallery.html">Gallery</a>
            <a href="{% url 'interest_page' %}">Interests</a> 
            <a href="{% url 'contact_page' %}"> Contacts</a> 
        </header>
        
        <h1> Home</h1>
        <h3>About Myself</h3>
        <p>My name is Nabin Prasad Dhungana.
           I'm 19 years old.
           I live with my family in Kathmandu.
           There are four members in my family.
           They are my Father, Mother, my Sister and Myself.
           I'm a student and I've recently passed
           grade 12. I completed my +2 from Viswa
           Niketan Secondary School. 
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A ipsa dolorem unde inventore sint aliquid nemo, nobis eius dolor ut ad, odit
             architecto rerum expedita alias animi, vero debitis fuga?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur vero ad aliquam consectetur, dicta ipsa laborum iure architecto temporibus asperiores. Aut, minima consequatur. Vel laboriosam adipisci 
                quaerat alias dolore aliquid beatae reprehenderit mollitia unde?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, nulla! Natus perspiciatis quam laudantium corporis quisquam officiis, tempora eos voluptates. Recusandae dolor quo nisi nobis quaerat cupiditate minima modi. Ratione eius iusto itaque quam. Ratione impedit, consectetur facere, perspiciatis cupiditate veritatis ab nemo laudantium, doloremque sit obcaecati accusantium? Cum dolorum ipsum, 
                    reprehenderit eligendi quasi nesciunt perspiciatis repudiandae.</p>
            </body>
</html>